/* 用于控制标签之间的上下边距 */
.m-bottom-10 {
    margin-bottom: 10px;
}
/* textarea大小固定 */
textarea {
    resize:none;
}
.btn {
    margin-right: 5px;
}
/* 返回顶部图片样式 */
.icon-top {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background: transparent url("../css/img/top.png") no-repeat scroll 0px 0px;
    display: inline-block;
    width: 38px;
    height: 65px;
    cursor: pointer;
    vertical-align: middle;
}
/* 返回顶部鼠标经过图片样式 */
.icon-top:hover {
    background: transparent url("../css/img/top.png") no-repeat scroll 0px -65px;
}
/* 提示消息效果 */
.alert {
    position: fixed;
    top:20px;
    left:25%;
    width:50%;
    display:none;
}